/* 
 TODO footer height inapt
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");

:root {
  --main-lightest: #fff;
  --main-lighter: #bdbdbd;
  --main-light: #909090;
  --main-dark: #5f5f5f;
  --main-darker: #242424;
  --main-darkest: #000;

  --x-color: #22559c;
  --o-color: #f27370;

  --tie-color: rgb(248, 248, 47);
  --win-color: rgb(36, 248, 57);
  --lose-color: rgb(251, 58, 58);

  --imp-red: rgb(254, 17, 17);

  /* --main-light: #C08497;*/
  --main-light-diff: #c290a0;
  --main-light2: #f1dabf;
  --secondary-bright: #fffbff;
  --secondary-dark: #6b2737;

  /* --main-dark-trans: rgba(39, 39, 39,.5);
    --main-light-trans: rgba(192, 132, 151,.5);
    --main-light2-trans: rgba(241, 218, 191,.5);
    --secondary-bright-trans: rgba(255, 251, 255,.5);
    --secondary-dark-trans: rgba(107, 39, 55,.5); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  /*  */
  /* border: 1px solid black; */
  text-shadow: 2px 2px 8px var(--main-dark);
}
.invisible-links {
  text-decoration: none;
  color: var(--main-lightest);
}

body {
  font-family: "Ubuntu", "Courier New", Courier, monospace;
  background-color: var(--main-lighter);
  color: var(--main-lightest);
  overflow: scroll;
}
/* -------------------------------------------------------------------------------------------------------------- */
header {
  height: 10vh;
  background-color: var(--main-darker);
  color: var(--secondary-bright);
  display: flex;
  justify-content: center;
  font-size: 8vh;
}
.nav-bar {
  display: flex;
  align-items: center;
  font-size: 70%;
}
.nav-list {
  display: flex;
  list-style-type: none;
}
.nav-list > li {
  /* padding-left: 20px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.nav-list > li:first-child {
  padding-right: 5px;
}
.nav-list > li:nth-child(2) {
  padding-left: 5px;
}
.header-icon {
  height: 7vh;
}
/* --------------------------------------------------------------------------------------------------------------------- */
.container {
  height: 73vh;
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-rows: 6vh 45vh 10vh;
  grid-template-columns: 90vw;
  grid-gap: 10px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}
.container-sub {
  background-color: var(--main-dark);
  box-shadow: 2px 2px 8px var(--main-dark);
  /* background-color: var(--main-lighter); */
  border-radius: 10px;
  border: 2px solid var(--main-darkest);
  height: 100%;
  width: 100%;
  /* ----------------- */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----------------------------------------------------- */
.turn-text {
  /* grid-row: 1;
  grid-column: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 8px var(--main-lighter);
}
#turn-text {
  /* font-size: 5vh; */
  font-size: 120%;
}
/* -------------------------------------------------- */
/* .grid {
  grid-row: 2;
  grid-column: 1;
} */
#grid {
  display: grid;
  grid-template-columns: repeat(3, min(27vw, 12vh));
  grid-template-rows: repeat(3, min(27vw, 12vh));
  /* margin: 20px; */
  background-color: var(--main-lightest);
  /* padding: 5px; */
}
.box {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2px; */
  margin: 3%;
  background-color: var(--main-dark);
  font-size: 8vh;
  /* border-radius: 10px; */
}

.box:hover {
  background-color: var(--main-light);
  cursor: pointer;
}

.box-0,
.box-1,
.box-2 {
  margin-top: 0;
}
.box-0,
.box-3,
.box-6 {
  margin-left: 0;
}
.box-6,
.box-7,
.box-8 {
  margin-bottom: 0;
}
.box-2,
.box-5,
.box-8 {
  margin-right: 0;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* .control-panel {
  grid-row: span 2;
} */
#control-panel {
  /* height: 50vh; */
  /* width: 30vw; */
  /* background-color: var(--main-light); */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 13vh;
}
.score {
  /* width: 20vw; */
  display: flex;
  justify-content: space-around;
}
.score-board {
  height: min(12vh, 45vw);
  width: min(8vh, 32vw);
  /*  */
  /* height: 10vw; */
  background-color: var(--main-light);
  /* margin: 20px; */
  padding: 2px 8px;
  /* padding: 0; */
  margin: 10px;
  /* margin-bottom: 0; */
  display: grid;
  grid-template-rows: 1fr 1.2fr;
  font-size: 7vw;
  /* flex-direction: column; */
  border-radius: 5px;
}
.score-board-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-label {
  font-size: 5vw;
  text-shadow: 2px 2px 10px var(--main-lighter);
}
#label-x{
    color: var(--x-color);
}
#label-o{
    color: var(--o-color);
}
.player-score {
  border-radius: 5px;
  background-color: var(--tie-color);
  margin-bottom: 4px;
}
#reset-btn {
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 2.2vh;
  /* display: none; */
  height: 30px;
  width: 20vw;
  border-radius: 2vh;
  border: 2px solid var(--main-darker);
  /* height: 3vw; */
  color: var(--imp-red);
  background-color: var(--main-lighter);
  text-shadow: 2px 2px 8px var(--main-light);
}
#reset-btn:hover {
  cursor: pointer;
  color: var(--secondary-bright);
  background-color: var(--imp-red);
}
footer {
  /* height: 12vh; */
  height: auto;
  padding: 10px;
  background-color: var(--main-darker);
  color: var(--secondary-bright);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;
}
.footer-links {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: space-between;
}
.footer-link {
    /* height: 2px; */
}
.footer-link>a {
    padding: 2px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* justify-content: center; */
}
.footer-link:hover {
  cursor: pointer;
  background-color: var(--main-lighter);
}
